$primary: #2979ff;
$success: #43a047;
$danger: #f44336;
$warning: #ff9800;
$white: #ffffff;

$primary-hover: #0069d9;
$primary-hover-border-color: #0062cc;

$success-hover: #218838;
$success-hover-border-color: #1e7e34;

$warning-hover: #fda624;
$warning-hover-border-color: #f6bd13;

$danger-hover: #df2b1e;
$danger-hover-border-color: #ec554a;

$primary-text: #526576;

$focus-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
